<div class="row">
  <div class="span6 offset3">
   <div class="well">
    
<h5>Edit <%= @user.email %></h5>


<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :multipart => :true, class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :first_name, label: "First Name", placeholder: 'Daniel' %>
  <%= f.input :last_name, label: "Last Name", placeholder: 'Beasley' %>
 
  <%= f.input :cook, label: "Do You like to Cook?", placeholder: 'Yes' %>
  <%= f.input :kid, label: "Do You Have Kids?", placeholder: 'Three' %>
  <%= f.input :allergie, label: "Do You Have Allegries", placeholder: 'Peanut Butter, Sugar, Gluten...' %>
  
  <%= f.input :email %>
  <%= f.input :password, label: "New Password", autocomplete: "off" %>
  <%= f.input :password_confirmation, label: "New Password confirmation", autocomplete: "off" %>
  <%= f.input :current_password %>


  <div class="form-actions">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>
</div>
<div class="well">
<h3>Cancel my account</h3>

<p><%= button_to "Cancel my account", registration_path(resource_name), class: "btn", :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<%= link_to "Back", :back %>


</div>
</div>
</div>
